<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1249},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>grayClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1186},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>grayOutCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1847},{163,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,51}}</string>
                <key>sourceSize</key>
                <string>{163,51}</string>
            </dict>
            <key>grayRetrieve.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1847},{163,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,51}}</string>
                <key>sourceSize</key>
                <string>{163,51}</string>
            </dict>
            <key>outCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1847},{163,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,51}}</string>
                <key>sourceSize</key>
                <string>{163,51}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{142,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{142,198}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1390},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1383},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1235},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1334},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{146,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,204}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1186},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1186},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1847},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1643},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1439},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{146,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,204}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1235},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_0_v_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1235},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1087},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,939},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_1_v_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,791},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,643},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,495},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,204}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_2_v_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,347},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,199},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>poker_t_3_v_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>retrieve.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,146},{163,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,51}}</string>
                <key>sourceSize</key>
                <string>{163,51}</string>
            </dict>
            <key>type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1354},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1995},{79,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,42}}</string>
                <key>sourceSize</key>
                <string>{79,42}</string>
            </dict>
            <key>type10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1312},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>type11.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1186},{157,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,42}}</string>
                <key>sourceSize</key>
                <string>{157,42}</string>
            </dict>
            <key>type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1345},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{79,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,43}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1995},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1186},{78,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,41}}</string>
                <key>sourceSize</key>
                <string>{78,41}</string>
            </dict>
            <key>type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1266},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1186},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>type8.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1995},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>type9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1398},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9572404e634890a1d8cf9e55a534da92:46ec330c2e63a6c9f3c8bfca7b6c95ae:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
