<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,513}}</string>
                <key>sourceSize</key>
                <string>{265,513}</string>
            </dict>
            <key>bigwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,131},{64,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,130}}</string>
                <key>sourceSize</key>
                <string>{64,130}</string>
            </dict>
            <key>draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,117},{135,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,71}}</string>
                <key>sourceSize</key>
                <string>{141,77}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,213},{38,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,190},{131,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{131,72}}</string>
                <key>sourceSize</key>
                <string>{139,72}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,44},{135,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{135,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{167,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,40}}</string>
                <key>sourceSize</key>
                <string>{167,40}</string>
            </dict>
            <key>tohall.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,44},{167,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,38}}</string>
                <key>sourceSize</key>
                <string>{167,38}</string>
            </dict>
            <key>totalscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,131},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{127,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{127,72}}</string>
                <key>sourceSize</key>
                <string>{135,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameends.png</string>
            <key>size</key>
            <string>{793,269}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0df14c9161744b135cc8057bd203d00:d2ffcbd2e4924ab49f6b9b14f4edd158:5f751edbcf6b5058fd2fb04060c61137$</string>
            <key>textureFileName</key>
            <string>gameends.png</string>
        </dict>
    </dict>
</plist>
