<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{170,182}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{170,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,122}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,93},{216,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,122}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,93},{216,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{170,182}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{170,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,122}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,93},{216,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{208,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{170,182}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{170,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gun.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb2236472ebe94f141b7acf66847f9b2:f08ffa0fb9d80c333d35de8bf7ebd450:e66248eae933b66f13da2e0bb59663f2$</string>
            <key>textureFileName</key>
            <string>gun.png</string>
        </dict>
    </dict>
</plist>
