<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgcreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{305,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,387}}</string>
                <key>sourceSize</key>
                <string>{305,387}</string>
            </dict>
            <key>bgicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,616},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bgjoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,387}}</string>
                <key>sourceSize</key>
                <string>{305,387}</string>
            </dict>
            <key>bgmoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{164,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,44}</string>
            </dict>
            <key>bgnfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,782},{72,114}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{72,114}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>bgnotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,868},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{93,50}</string>
            </dict>
            <key>btnact.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,616},{80,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{80,116}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,616},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>btnhelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,772},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>btnmsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,708},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>btnscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,746},{96,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>btnsetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,698},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>btnshare.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,868},{98,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{98,112}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>tfback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{145,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,41}}</string>
                <key>sourceSize</key>
                <string>{145,41}</string>
            </dict>
            <key>tfcreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,782},{145,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,40}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>tfjoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{145,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,41}}</string>
                <key>sourceSize</key>
                <string>{145,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_scene.png</string>
            <key>size</key>
            <string>{391,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58a61d6f061d608cad135fbd6f5925ca:050745092e0dd42353071ad60f28d0f4:c2cc4497579e97247838f5751eab69f7$</string>
            <key>textureFileName</key>
            <string>hall_scene.png</string>
        </dict>
    </dict>
</plist>
