<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ traveler.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{379,127}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{379,127}}</string>
                <key>sourceSize</key>
                <string>{397,137}</string>
            </dict>
            <key>btn_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,52},{379,123}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{379,123}}</string>
                <key>sourceSize</key>
                <string>{397,137}</string>
            </dict>
            <key>check_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>yonghuxieyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,43}}</string>
                <key>sourceSize</key>
                <string>{579,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{764,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77646fb47c817ec54a6ffce2eeb0fcbd:e2008e660824c5db59eddba0f75920bf:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
