<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,85},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,85},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>music0.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,42},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>music1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,42},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sound0.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,42},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,42},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>tfagree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{105,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,40}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>tfchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{168,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,39}}</string>
                <key>sourceSize</key>
                <string>{168,39}</string>
            </dict>
            <key>tfexit.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{168,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,38}}</string>
                <key>sourceSize</key>
                <string>{168,38}</string>
            </dict>
            <key>tfjieshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,40}}</string>
                <key>sourceSize</key>
                <string>{252,40}</string>
            </dict>
            <key>tfrefuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{107,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,38}}</string>
                <key>sourceSize</key>
                <string>{107,38}</string>
            </dict>
            <key>tfsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>tftitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,44},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settings.png</string>
            <key>size</key>
            <string>{587,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe30cef1f908093e8303887d5680fe2b:86b687693e114b9c23bfbb86ad92f786:b272f908d41fd8e3cdf1bdfb80736dbb$</string>
            <key>textureFileName</key>
            <string>settings.png</string>
        </dict>
    </dict>
</plist>
